{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/Main.css' %}">
    
</head>
<body>
    <header>
    <h1>VCUBE Application</h1>
    {% if request.user.is_authenticated %}
    <div class="logout">
    <p>Hi {{request.user.username}}</p>
    
    <a href="{% url 'logouturl' %}">logout</a>
    
    </div>
    {%endif %}
    </header>
    {%block main %}
    {%endblock %}
</body>
</html>